<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4번페지</title>
    <link rel="stylesheet" href = "/static/css/sin4.css"/>
</head>
<body>
<!--최상단 부분-->
    <div class = "menu">
        <div class = "menu1">
            <button type="button">뒤로가기</button><!--<button onclick = "함수명()"></button>-->
            <button type="button">홈</button></div>
        <div class = "menu_title"><p>프로젝트 이름</p></div>
        <div class = "menu2">
            <button type="button">저장</button>
            <button type="button">다운로드</button></div>
    </div>
<!--최상단 바로 아래 부분-->
    <div class ="font">
        <button type="button">새 레이어</button> <!--새로운 레이어를 생성한다-->
        <button type="button">글꼴</button><!--글꼴을 변경함-->
        <button type="button">색상변경</button><!--색상변경 추후 추가예정 색상표가 나온다-->
        <button type="button">좌측정렬</button>
        <button type="button">중앙정렬</button>
        <button type="button">우측정렬</button>
    </div>
<!--최하단 및 도형 레이어 작업공간 부분-->
    <div class = "mid">
        <div class = "layer">작업중인 레이어를 보여줍니다#layer</div>
        <div class = "figure">도형 삽입위치#figure<br/>
            <button type="button">원</button><!--<button onclick = "함수명()"></button>-->
            <button type="button">사각형</button>
            <button type="button">삼각형</button>
            <button type="button">포물선</button>
            <button type="button">입력창</button> <!--ex) <input> 태그 -->

        </div>
        <div class = "page">
            <iframe class = "work_sheet" src = "/template" width = "100%" height="100%" ></iframe>
        </div>
    </div>

<script>


</script>
</body>
</html>